# Never include .env
.env

# Never include local .env secrets
**/.env

# Don't include python virtual environment
.venv/
# or Python cache
__pycache__/

# Mac stuff
.DS_Store

# Log files
adk-app/*.log

# Plotly Dash
cache/
